<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataLINQ_RobsanNET.Properties.Settings.ROBSANConnectionString"
            connectionString="Data Source=REFACCIONARIA\SQLEXPRESS;Initial Catalog=ROBSAN;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>

 

</configuration>